.mat-dialog-actions {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: baseline;
    width: 180px;
}

.mat-dialog-content {
    height: 175px;
}

.half-width-button {
    min-width: 50%;
}

.fill-width-button {
    min-width: 100%;
    margin-top: 5px;
}