  .rosters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .roster {
    padding-left: 10px;
    padding-right: 10px;
  }

  .coach-name {
    margin-top: 5px;
    margin-bottom: 5x;
  }

  /* .mat-sidenav-container {
    background-color: rgb(43, 43, 43);
  } */

  /* .mat-sidenav {
    width: 420px;
    overflow-x: hidden;
    /* border-style: solid;
    border-radius: 1px;
    border-color: #999999;
  } */