<div class="free-agents-tab" cdkDropListGroup>
    <div>
    <div class="selected-roster">
        <mat-form-field>
            <mat-select style="font-size: 25px;" [(value)]="selectedFantasyTeam">
                <mat-option style="font-size: 15px;" *ngFor="let team of fantasyTeams" [value]="team">{{team.coach}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-card style="height: fit-content;">
            <app-roster [team]="selectedFantasyTeam" [teamNum]="getTeamNum(selectedFantasyTeam)"
                (playerMoved)="handlePlayerMove($event)">
            </app-roster>
        </mat-card>
    </div>
    <div class="swap-box">
        <mat-card style="height: fit-content;">
        
        </mat-card>
    </div>
    </div>
    <div class="free-agents-sort">
        <mat-form-field class="form-field">
            <mat-label>Sort By:</mat-label>
            <mat-select [(value)]="sortBy">
                <mat-option value="alpha">Alphabetical</mat-option>
                <mat-option value="avg">Average Points</mat-option>
                <mat-option value="proj">Projected Points</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Team:</mat-label>
            <mat-select [(ngModel)]="selectedTeams" multiple>
                <mat-option style="color: white" *ngFor="let team of teamsList" [value]="team">{{team}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Role:</mat-label>
            <mat-select [(ngModel)]="selectedRoles" multiple>
                <mat-option style="color: white" *ngFor="let role of rolesList" [value]="role">{{role}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Owned:</mat-label>
            <mat-select [(value)]="owned">
                <mat-option value="all">All</mat-option>
                <mat-option value="owned">Owned</mat-option>
                <mat-option value="available">Available</mat-option>
            </mat-select>
        </mat-form-field>
        <table mat-table [dataSource]="freeAgents" class="free-agents-table">
              <!-- Position Column -->
                <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="team">
                    <th mat-header-cell *matHeaderCellDef> Team </th>
                    <td mat-cell *matCellDef="let element"> {{element.team}} </td>
                </ng-container>

                <!-- Points Column -->
                <ng-container matColumnDef="averagePts">
                    <th mat-header-cell *matHeaderCellDef> AveragePTS </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <!-- Coach Column -->
                <ng-container matColumnDef="coach">
                    <th mat-header-cell *matHeaderCellDef> Coach </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <!-- Button Column -->
                <!-- <ng-container matColumnDef="button">
                    <th mat-header-cell *matHeaderCellDef> Button </th>
                    <td mat-cell *matCellDef="let element"> {{element.button}} </td>
                </ng-container> -->

                <ng-container matColumnDef="button">
                    <th mat-header-cell *matHeaderCellDef> Button </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button color = "accent">Select</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>

        <!-- <div class="free-agents-container">
            <div cdkDropList *ngFor="let player of freeAgents; let freeAgentNum = index" [cdkDropListEnterPredicate]="noMoveIntoFreeAgents" 
            [cdkDropListData]="['free', freeAgentNum, player.position]">
                <div class="example-box" [ngStyle]="getBanner(player.team)" [cdkDragData]="player.position" cdkDrag>
                    <img *ngIf="player.position !== 6; else teamSpace" [src]="getPlayerPicture(player)"
                        [alt]="getPlayerPicture(player)" [style]="getPortraitHeight()">
                    <ng-template #teamSpace>
                        <div style="margin-left: 10px;"></div>
                    </ng-template>
                    <div class="player-name">{{player.name}}</div>
                    <img class="banner-image" [src]="getTeamLogo(player.team)" [alt]="getTeamLogo(player.team)">
                </div>
            </div>
        </div> -->
    </div>
</div>