<!-- <h2>Roster</h2> -->

<div style="height: 100px; display: flex; flex-direction: row;">
    <div style="border-style: solid;" *ngFor="let tab of nav">{{tab}}</div>
</div>

<hr>

<div class="rosters">
    <div *ngFor="let team of teams">
        <h1>{{team.teamLeader}}</h1>
        <div cdkDropListGroup>
            <div cdkDropList class="example-list" *ngFor="let player of team.roster" id="{{team.teamLeader}}"
                [cdkDropListData]="team.roster" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngIf="player.name; else blankPlaceholder" cdkDrag>
                    <img [src]="getPicture(player.name)" [alt]="getPicture(player.name)">
                </div>
                <ng-template #blankPlaceholder>
                    <!-- <div class="placeholder" cdkDrag>
                        <h2>No Player</h2>
                    </div> -->
                </ng-template>
            </div>
        </div>
    </div>
</div>

<!-- <div cdkDropList class="example-list" id="roster" [cdkDropListData]="rosterImg" [cdkDropListConnectedTo]="['bench']" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let playerImg of rosterImg" cdkDrag>
        <img [src]="playerImg">
    </div>
</div>

<br>

<h2>Bench</h2>
<div cdkDropList class="example-list" id="bench" [cdkDropListData]="benchImg" [cdkDropListConnectedTo]="['roster']" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let playerImg of benchImg" cdkDrag>
        <img [src]="playerImg">
    </div>
</div> -->