<h2>Roster</h2>
<div cdkDropList class="example-list" id="roster" [cdkDropListData]="roster" [cdkDropListConnectedTo]="['bench']" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let player of roster" cdkDrag>{{player}}</div>
</div>

<br>

<h2>Bench</h2>
<div cdkDropList class="example-list" id="bench" [cdkDropListData]="bench" [cdkDropListConnectedTo]="['roster']" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let player of bench" cdkDrag>{{player}}</div>
</div>