
<div style="height: 100px; display: flex; flex-direction: row;">
    <div style="border-style: solid;" *ngFor="let tab of nav">{{tab}}</div>
</div>

<mat-divider></mat-divider>

<div cdkDropListGroup class="rosters">
    <div *ngFor="let team of teams; let teamNum = index">
        <h1>{{team.coach}}</h1>
        <div cdkDropList class="example-list" *ngFor="let player of team.roster; let playerNum = index" [cdkDropListData]="[teamNum, playerNum]"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngIf="player; else blankPlaceholder" cdkDrag>
                <!-- MEMES -->
                <div *ngIf="player.name === 'Biofrost'">
                    <img *cdkDragPreview src="assets/memesen.png">
                </div>
                <!-- MEMES -->
                <img [src]="getPlayerPicture(player.name)" [alt]="getPlayerPicture(player.name)">
            </div>
            <ng-template #blankPlaceholder>
                <div [class]="" cdkDrag [cdkDragDisabled]="true"> <!-- can set background to blank banner based on teamNum -->
                    {{playerNum}} <!-- can set text to role based on playerNum -->
                    </div>
            </ng-template>
        </div>
    </div>
</div>