:root {
  --banner-width: 200px;
  --banner-height: 400px;
}

.example-list {
  width: 402px;
  height: 200px; 
  max-width: 100%;
  /* min-height: 60px; */
  /* border-radius: 4px;
  overflow: visible; */
  /* padding-left: 10px;
  padding-right: 10px; */
}

